*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --darkblue: #0424d9;
    --persianblue: #1a4ada;
    --azureradiance: #1675f5;
    --pictonblue: #3d8af2;
    --blue: #add8e6;
    --black: #0d0d0d;
    --orange: #f15a24;
    --white: #e6e6e6;
    --gray: #aaaaaa;
}
body{
    background-color: var(--blue);
}
.cabecera{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
img{
    margin-left: 20px;
    width: 200px;   
}
#regresar_sin_login{
    padding: 7px 14px;
    margin-left: 4%;
    border: none;
    border-radius: 20px 10px 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
}
#regresar_sin_login:hover{
    background-color: var(--azureradiance);
}
#inicio_de_sesion{
    padding: 3vh;
    margin: 3% 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

    background-color: var(--white);
    box-shadow: 8px 8px 10px var(--gray);
    border-radius: 20px;
}
#inicio_de_sesion h1{
    padding: 0vh 7vh 2vh 7vh;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
#inicio_de_sesion h2{
    font-size: 22px;
    font-weight: bold;
}
input{
    font-size: 15px;
    text-align: center;
    width: 88%;
    padding: 5px;
    border: 1px solid var(--black);
    border-radius: 20px;
}
ul {
    list-style: none;
    align-self: flex-start;

    font-weight: bold;
}
#iniciar_sesion{
    padding: 8px 14px;
    font-size: 18px;    
    border: none;
    border-radius: 20px;
    background-color: var(--orange);
    color: var(--white);
    transition: 0.2s;
    cursor: pointer;
}
#iniciar_sesion:hover{
    background-color: var(--azureradiance);
}
