*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}
:root{
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #ffd966;
    --green_normal_back: #049a5b;
    --blue: #add8e6;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    height: 100vh;
}
.container{
    border: black solid 4px;
    background-color: var(--blue);
    width: 500px;
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 26px;
}
p{
    margin: 20px 0px;
    font-size: 16px;
}

