*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #ffd966;
    --green_normal_back: #049a5b;
    --blue: #add8e6;
    --lightblue: #daecf6;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    height: 100vh;
}
.contenedor{
    width: 500px;
    padding: 10px;
    background-color: var(--blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#regresar_perfil{
    position: relative;
    width: max-content;
    padding: 5px;

    background-color: var(--yellow);
    box-shadow: 3px 4px rgba(26, 26, 34, 0.2);
    border: none;
    border-radius: 20px 10px 10px 20px;
    text-decoration: none;
    color: var(--black);
    font-size: 12px;
}
h1{
    font-size: 26px;
    text-align: center;
}
p{
    font-size: 16px;
}
textarea{
    font-size: 12px;
    text-align: center;
    min-height: 90px;
    resize: none;
}
#publicar{
    width: max-content;
    align-self: center;
    padding: 5px;
    background-color: var(--yellow);
    box-shadow: 3px 4px rgba(26, 26, 34, 0.2);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: var(--black);
}