*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --darkblue: #0424d9;
    --persianblue: #1a4ada;
    --azureradiance: #1675f5;
    --pictonblue: #3d8af2;
    --blue: #add8e6;
    --black: #0d0d0d;
    --orange: #f15a24;
    --white: #e6e6e6;
    --gray: #aaaaaa;
}
body{
    background-color: var(--white);
}
header{
    background-color: var(--darkblue);
    width: 100%;
    padding: 5px;
}
.cabecera, #usuario_boton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    margin-left: 5%;
    width: 180px;   
}
#usuario_boton{
    gap: 2vh;
    margin-right: 5%;
}
#usuario_boton p{
    color: var(--white);
    font-size: 3vh;
}
#icono_usuario{
    color: var(--white);
    font-size: 6vh;
}
.perfil{
    padding: 3vh;
    margin: 2% 20%;
    background-color: var(--pictonblue);
    border-radius: 15px;
}
#foto_usuario{
    display: inline-block;
    position: absolute;
    font-size: 11vh;
}
.perfil h2, .perfil p{
    font-size: 20px;
    margin-left: 15vh;
    color: var(--white);
}
a{
    width: min-content;
    color: var(--white);
    transition: 0.5s ease;
}
a:hover{
    color: var(--orange);
}
