*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --darkblue: #0424d9;
    --persianblue: #1a4ada;
    --azureradiance: #1675f5;
    --pictonblue: #3d8af2;
    --blue: #add8e6;
    --black: #0d0d0d;
    --orange: #f15a24;
    --white: #e6e6e6;
    --gray: #aaaaaa;
}
body {
	background: linear-gradient(-45deg, #0424d9, #1675f5, #3d8af2, #add8e6);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header{
    background-color: var(--black);
  }
.cabecera, #usuario_boton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    margin-left: 5%;
    width: 180px;   
}
.cabecera button{
    cursor: pointer;
}
#usuario_boton{
    gap: 2vh;
    margin-right: 5%;
}
#usuario_boton p{
    color: var(--white);
    font-size: 3vh;
}
#icono_usuario{
    color: var(--white);
    font-size: 6vh;
}
#icono_configuracion{
    color: var(--white);
    font-size: 6vh;
}
.buscar{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.buscar input{
    width: 100vh;
    height: 30px;
    border: 2px solid var(--gray);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
}
h1{
    color: var(--black);
    font-size: 24px;
    margin-left: 20px;
}
.aviso_evento{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.crear_evento{
    padding: 3vh;
    max-width: 600px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 20px;
    background-color: var(--blue);  
    gap: 4vh;
}
.informacion_evento{
    display: flex;
    flex-direction: row;
    gap: 5vh;
}
#imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4vh;
}
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}
#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.crear_evento h1{
    font-size: 25px;
}
#imagen img{
    width: 150px;
    height: 100px;
}
#imagen textarea{
    width: 150px;
    height: 100px;
    resize: none;
}
.crear_evento button{
    padding: 10px;
    background-color: var(--yellow);
    border-radius: 15px;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}
.aviso_evento_creado{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.container{
    border: black solid 4px;
    background-color: var(--blue);
    width: 500px;
    padding: 20px;
    text-align: center;
}
.container p{
    margin: 20px 0px;
    font-size: 20px;
}
.container a{
    padding: 5px;
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 4px rgba(26, 26, 34, 0.2);
    
    font-size: 16px;
    text-decoration: none;
    color: var(--black);    
}