*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #ffd966;
    --green_normal_back: #049a5b;
    --blue: #add8e6;
}
body{
    background-color: var(--green_normal_back);
}
header{
    background-color: var(--blue);
    width: 100%;
    padding: 10px;
}
.cabecera, #logo, #usuario_boton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#icono_logo{
    color: var(--black);
    font-size: 10vh;
}
#logo{
    font-size: 36px;
    color: var(--black);
    gap: 5vh;
}
#usuario_boton{
    gap: 2vh;
    margin-right: 20px;
}
#usuario_boton p{
    font-size: 3vh;
}
#icono_usuario{
    color: var(--black);
    font-size: 6vh;
}
.buscar{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px; 
    gap: 5px
}
.buscar input{
    width: 100vh;
    height: 30px;
    border: 2px solid var(--black);
    padding: 20px;
    border-radius: 20px; /* Radio de borde */
    text-align: center;
    font-size: 20px;
}
.eventos h1{
    color: var(--white);
    font-size: 24px;
    margin-left: 20px;
}