*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --darkblue: #0424d9;
    --persianblue: #1a4ada;
    --azureradiance: #1675f5;
    --pictonblue: #3d8af2;
    --blue: #add8e6;
    --black: #0d0d0d;
    --orange: #f15a24;
    --white: #e6e6e6;
    --gray: #aaaaaa;
}
body{
    background-color: var(--white);
}
header{
    background-color: var(--persianblue);
    width: 100%;
}
.cabecera, #usuario_boton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    margin-left: 5%;
    width: 180px;   
}
#usuario_boton{
    gap: 2vh;
    margin-right: 5%;
}
#usuario_boton p{
    color: var(--white);
    font-size: 3vh;
}
#icono_usuario{
    color: var(--white);
    font-size: 6vh;
}
#icono_configuracion{
    color: var(--white);
    font-size: 6vh;
}
.buscar{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px; 
    gap: 5px
}
.buscar input{
    width: 100vh;
    height: 30px;
    border: 2px solid var(--black);
    padding: 20px;
    border-radius: 20px; /* Radio de borde */
    text-align: center;
    font-size: 20px;
}
.eventos h1{
    color: var(--white);
    font-size: 24px;
    margin-left: 20px;
}