*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --darkblue: #0424d9;
    --persianblue:#213E60;
    --azureradiance: #1675f5;
    --pictonblue: #3d8af2;
    --blue: #add8e6;
    --black: #0d0d0d;
    --orange: #f15a24;
    --white: #e6e6e6;
    --gray: #aaaaaa;
}
body {
	background: linear-gradient(-45deg, #616fc3, #7c9ecb, #4b71a3, #618bcb);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header{
    background-color: var(--persianblue);
    width: 100%;
}
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    width: 180px;   
}
#regresar_pagina_principal{
    display: inline-block;
    position: absolute;
    padding: 7px 14px;
    margin-top: 2%;
    margin-left: 4%;
    border: none;
    border-radius: 20px 10px 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
}
#regresar_pagina_principal:hover{
    background-color: var(--azureradiance);
}
#cerrar_sesion{
    display: inline-block;
    position: absolute;
    padding: 7px 14px;
    margin-left: 4%;
    border: none;
    border-radius: 20px 10px 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
}
#cerrar_sesion:hover{
    background-color: var(--azureradiance);
}
.configuracion_perfil{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}
#info_config{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 400px;
    height: 420px;

    gap: 15px;
    background-color: var(--persianblue);
    box-shadow: 8px 8px 10px var(--gray);
    border-radius: 20px;
    font-size: 16px;
}
#info_config input{
    font-size: 14px;
    text-align: center;
    width: 90%;
    padding: 5px;
    border: none;
    border-radius: 20px;
}
#info_config button{
    padding: 8px 14px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--orange);
    color: var(--white);
    transition: 0.2s;
    cursor: pointer;
}
#info_config h2{
    color: white;
}
#confirmar_ajustes:hover{
    background-color: var(--azureradiance);
}