*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --darkblue: #0424d9;
    --persianblue: #1a4ada;
    --azureradiance: #1675f5;
    --pictonblue: #3d8af2;
    --blue: #add8e6;
    --black: #0d0d0d;
    --orange: #f15a24;
    --white: #e6e6e6;
    --gray: #aaaaaa;
}
body{
    background-color: var(--white);
}
header{
    background-color: var(--persianblue);
    width: 100%;
}
.cabecera, #logo, #botones_cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    margin-left: 7%;
    width: 180px;   
}
#botones_cabecera{
    gap: 5vh;
    margin-right: 5%;
}
a{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 5px rgba(26, 26, 34, 0.2);
    background-color: var(--orange);
    color: var(--white); 
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;  
    transition: 0.5s ease;
}
a:hover{
    background-color: var(--white);
    color: var(--persianblue);
}
.buscar{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0px; 
}
.buscar input{
    width: 100vh;
    height: 30px;
    border: 2px solid var(--gray);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
}
.eventos h1{
    color: var(--black);
    font-size: 24px;
    margin-left: 20px;
}