*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root{
  --darkblue: #0424d9;
  --persianblue: #213E60;
  --azureradiance: #1675f5;
  --pictonblue: #3d8af2;
  --blue: #add8e6;
  --blueammi: #6494e7;
  --black: #0d0d0d;
  --orange: #f15a24;
  --white: #e6e6e6;
  --gray: #aaaaaa;
}
body {
	background: linear-gradient(-45deg, #596dd9, #7eafef, #4576b5, #d0e8f0);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header{
  background-color: var(--persianblue);
}
.cabecera, #botones_cabecera{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
img{
    margin-left: 5%;
    width: 180px;   
}
#botones_cabecera{
  gap: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
a{
  box-shadow: inset 0 0 20px #e3eafc;
  outline: 1px solid;
  outline-color: #e3eafc;
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.1, 1, 0.2, 1);
  outline-color: #e3eafc;
  outline-offset: 0px; 
  color: #e3eafc;
  border:none;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
}  
a:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px var(--blue), 0 0 20px var(--blue);
  outline-offset: 15px;
  outline-color: var(--white);
  text-shadow: 1px 1px 2px var(--blue);
  background-color: var(--blue);
  font-size: 18px;
}
.buscar{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:20px;
}
.buscar input{
    width: 100vh;
    height: 30px;
    border: 2px solid var(--gray);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
}
h1{
  color: var(--black);
  font-size: 24px;
  margin-left: 20px;
}
h2 {
  font-size: 20px;
  margin: 0;
}
p {
  font-size: 14px;
  margin: 0.5rem 0;
}
section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
section img {
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 1rem 0;
  display: block;
  border-radius: 8px;
  transform-origin: center;
}
button{
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 30px;
  box-shadow: inset 0 0 20px #e3eafc;
  outline: 1px solid;
  outline-color: #e3eafc;
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.1, 1, 0.2, 1);
  outline-color: #e3eafc;
  outline-offset: 0px; 
  color: #e3eafc;
  border:none;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
}
button:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px var(--blueammi), 0 0 20px var(--blueammi);
  outline-offset: 15px;
  outline-color: var(--persianblue);
  text-shadow: 1px 1px 2px var(--persianblue);
  background-color: var(--persianblue);
  font-size: 18px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@keyframes fade-in {
  from {
    opacity: 0.3;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
.card {
  width: 100%;
  max-width: 520px;
  padding: 16px;
  background-color: var(--persianblue);
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color:var(--white);
  animation: fade-in linear both;
  /* view function */
  animation-timeline: view();
  animation-range: entry 10% entry 80%;
}