*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --darkblue: #0424d9;
    --persianblue: #1a4ada;
    --azureradiance: #1675f5;
    --pictonblue: #3d8af2;
    --blue: #add8e6;
    --black: #0d0d0d;
    --orange: #f15a24;
    --white: #e6e6e6;
    --gray: #aaaaaa;
}
body{
    background-color: var(--blue);
}
.cabecera{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
img{
    margin-left: 20px;
    width: 200px;   
}
#regresar_sin_login{
    padding: 7px 14px;
    margin-left: 4%;
    border: none;
    border-radius: 20px 10px 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
}
#regresar_sin_login:hover{
    background-color: var(--azureradiance);
    color: var(--white);
}
#registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 3vh;
    margin: 2% 20%;

    text-align: center;

    background-color: var(--white);
    box-shadow: 8px 8px 10px var(--gray);
    border-radius: 20px;
}
#registro p{
    padding: 0vh 7vh 3vh 7vh;
    font-size: 20px;
    font-weight: bolder;
}
#registro h2{
    font-size: 20px;
    font-weight: bolder;
}
input{
    font-size: 15px;
    text-align: center;
    width: 70%;
    padding: 5px;
    border: 1px solid var(--black);
    border-radius: 20px;
}
#registro_formulario{
    padding: 8px 14px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: var(--orange);
    color: var(--white);
    transition: 0.2s;
    cursor: pointer;
}
#registro_formulario:hover{
    background-color: var(--azureradiance);
    color: var(--white);
}
.aviso_registro{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.aviso_registro_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
    padding: 5vh;

    color: var(--white);
    text-align: center;

    background-color: var(--pictonblue);
    border-radius: 20px;
    width: 450px;
    height: max-content;
    margin: 12% 33%;
}
.aviso_registro_contenido p{
    padding: 0vh 5vh 2vh 5vh;
    font-size: 20px;
    font-weight: bold;
}
#confirmar_formulario, #pasar_a_iniciar_sesion{
    font-size: 16px;
    padding: 8px 14px;
    background-color: var(--orange);

    border-radius: 20px;
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
