*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}
:root{
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #ffd966;
    --green_normal_back: #049a5b;
    --blue: #add8e6;
}
body{
    background-color: var(--green_normal_back);
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
}
#icono_logo{
    color: #000000;
    font-size: 10vh;
    color: var(--white);
}
#logo p{
    font-size: 36px;
    color: var(--black);
    align-self: center;
    color: var(--white);
}
#regresar_sin_login{
    padding: 8px 14px;
    margin-left: 4%;
    background-color: var(--yellow);
    border: none;
    border-radius: 20px 10px 10px 20px;
}
.inicio_de_sesion{
    padding: 3vh;
    margin: 3% 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

    background-color: var(--blue);
    border: 2px solid var(--black);
    border-radius: 20px;
}
.inicio_de_sesion h1{
    padding: 0vh 7vh 2vh 7vh;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
.inicio_de_sesion h2{
    font-size: 20px;
    font-weight: lighter;
}
input{
    width: 88%;
    padding: 5px;
    border: none;
    border-radius: 20px;
    align-self: center;
}
ul {
    list-style: none;
    align-self: flex-start;
}
#iniciar_sesion{
    padding: 8px 14px;
    background-color: var(--yellow);
    border: 1px solid var(--black);
    border-radius: 20px;
    align-self: center;
}
