*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #ffd966;
    --green_normal_back: #049a5b;
    --blue: #add8e6;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    height: 100vh;
}
p{
    margin: 20px 0px;
    font-size: 20px;
}
a{
    padding: 5px;
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 4px rgba(26, 26, 34, 0.2);
    
    font-size: 16px;
    text-decoration: none;
    color: var(--black);    
}
.container{
    border: black solid 4px;
    background-color: var(--blue);
    width: 500px;
    padding: 20px;
    text-align: center;
}
