*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
:root{
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #ffd966;
    --green_normal_back: #049a5b;
    --blue: #add8e6;
    --lightblue: #daecf6;
}
.crear_evento, #imagen, #textos, #inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.informacion_evento{
    display: flex;
    flex-direction: row;
    gap: 10vh;
}
.crear_evento{
    width: auto;
    background-color: var(--blue);
}